@model PagedList.IPagedList<ProjectSEM3.EF.Content>
@using PagedList.Mvc
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="content">
    <div class="container top">
        <div class="content_top">
            <div class="breadcrumbs"><a href="/home">Trang chủ</a> <span>›</span> <a href="/bai-viet/">Bài viết</a> </div>
        </div>
        <div class="row">
            <div class="span9">
                @foreach (var item in Model)
                {
                    <div class="post-preview">
                        <h3><a href="/bai-viet/@item.MetaTitle-@item.ID">@item.Name</a></h3>
                        <div class="image"><img src="@item.Image" style="width:733px; height: 301px;" alt="" class="img-responsive img-rounded"></div>
                        <div class="post-meta"> <span class="meta-date"><i class="icon-clock-alt"></i>@item.CreateDate.ToString("yyyy-MM-dd")</span> <span class="meta-author"><i class="icon-user-2"></i><a href="#">@item.CreateBy</a></span>  <span class="meta-comment"><i class="icon-chat-1"></i><a href="#">12 bình luận</a></span> <span class="meta-views"><i class="icon-cog-1"></i><a href="#">@item.ViewCount Lượt xem</a></span> </div>
                        <p>@item.Description </p>
                        <p><a class="button" href="/bai-viet/@item.MetaTitle-@item.ID">Xem chi tiết</a></p>
                    </div>
                    <div class="line"></div>
                }
              
                
                <div class="paginator">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString}))
                </div>
            </div>
            <div class="span3">
                <div class="block">
                    <div class="block-title">Danh mục</div>
                    <div class="block-content">
                        @{Html.RenderAction("CategoryContent", "Content");}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

